@model dynamic

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>System Info (RESTFul API)</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label>Version</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.Version</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <label>Server Time</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.ServerTime</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <label>AspNetCore Environment</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.AspNetCoreEnvironment</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <label>Machine Name</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.MachineName</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <label>Environment Name</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.EnvironmentName</label>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <label>Database Provider Name</label>
        </dt>
        <dd class="col-sm-2">
            <label>@Model.ProviderName</label>
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" asp-controller="ProductCatalog" class="btn btn-secondary btn-sm">Back to List</a>
</div>
